.add {
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add .flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}

.add-product-name, .add-product-description {
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    font-family: inherit;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input {
    max-width: 120px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.add-btn:hover {
    background-color: #ff4500;
}