.order.add {
    width: 70%;
    margin-left: 5vw;
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.order.add h3 {
    margin-bottom: 30px;
    color: #333;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    gap: 30px;
    border: 1px solid #a9a9a9;
    padding: 20px;
    margin: 30px 0;
    font-size: 14px;
    color: #505050;
    align-items: start;
    border-radius: 8px;
    background: #f9f9f9;
}

.order-item img {
    width: 50px;
}

.order-item-food {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.order-item-name {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item-address p {
    margin: 0;
}

.order-item-phone {
    font-weight: 500;
    color: #333;
}

.order-item select {
    background: #ffe8e4;
    border: 1px solid tomato;
    width: max-content;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.order-item select:focus {
    background: #fff;
}