.food-display{

    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw, 24px);
    margin-bottom: 10px;
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  
    gap: 20px;
    margin-top: 30px;
    row-gap:50px ;
}
