.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    animation: fadeIn 1s;
}
.food-item-image{
    width: 100%;
 border-radius: 15px 15px 0 0;
}
.food-item-info{
    padding: 20px;
}   
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 600;
}
.food-item-name-rating img{
    width: 70px;
}
.food-item-desc{
    font-size: 16px;
    color: #555;
    
}
.food-item-price{
   color: #c5581e;
   font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 45px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.food-item-counter img{
    width: 30px;
}